.DS_Store
node_modules
/dist
/dist-ssr
/stats.html
/tests/e2e/videos/
/tests/e2e/screenshots/

# types
/types/plugin

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# eslint
.eslintcache

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# workspace
workspace.*
